{% load static %}
{% load i18n %}
{% load humanize %}
{% block content %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>efir</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href='{% static "/assets/img/favicon.png" %}' />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href='{% static "/css/styles.css" %}' rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script>
      const csrftoken = Cookies.get('csrftoken');
    </script>
    
  </head>

<!-- Body -->
<div class="container px-4 py-5 mx-auto mb-5" style="max-width: 800px; min-height: 400px;">
  <div class="row d-flex justify-content-center">
    
    <div class="container justify-content-center text-center">
        <a class="navbar-brand" style="margin-top: 10px;" href="{% url 'catalog:home' %}">
            <img src="{% static 'assets/img/logo.png' %}" height="50" alt="">
          </a>
    </div>
    <div class="container">
    <hr class="my-4">
    <h4 class="heading">Vaše objednávka #{{ order.id }} </h4>

          <p>
            {{ order.first_name }},<br>
            <br>
            
            Vaše objednávka #{{order.id}} nám byla doručena. Budeme se ji snažit zpracovat v co nejkratší době.
            
            Toto je automaticky generované potvrzení objednávky. Pokud máte jakékoli dotazy týkající se vaší objednávky, odepište, prosím, zpět na tento email.
            
             </p>

             
             <div class="container" style="border: 1px solid #b1b1b1; /* Set the border properties */
             padding: 10px;">
        
        <h6 class="mob-text">Vaše jméno:</h6>
        <p class="mob-text"> {{ order.first_name }} {{ order.last_name }}</p>

        <h6 class="mob-text">Váš email:</h6>
        <p>{{ order.email }}</p>

        <h6 class="mob-text">Doručovací adresa:</h6>
        <p> {{ order.address }}</p>

        

            
            <h6 class="mob-text">Způsob dopravy:</h6>
            <p> {{ order.get_shipping_display }}</p>


            <h6 class="mob-text">Telefonní číslo:</h6>
            <p> {{ order.number }}</p>

            <h6 class="mob-text">Poznámka:</h6>
            <p> {{ order.comments }}</p>
        
        </table>
    </div>  
    <br>
                <!-- Shopping Cart Section -->
              <div class="row">
                  <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span>Váš nákupní košík</span>
                    <span class="badge badge-secondary badge-pill">3</span>
                  </h4>
                
                  <ul class="list-group mb-3">
                    {% for item in order.items.all %}  
                    {% with product=item.product %}
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                      <div class="d-flex align-items-center">
                        <img src="{{ product.image1.url }}" style="max-height: 70px; max-width: 27px; margin-right: 10px;">
                        <div>
        
                          {% if item.quantity == 1 %}
                        <h6 class="my-0">{{ product.name }}       </h6>
                          {% else %}
                        <h6 class="my-0">{{ item.quantity }}x   {{ product.name }}       </h6>
                          {% endif %}
                        <small class="text-muted">{{ item.zpusob_vyroby }}:</small>
        
                        <small class="text-muted">{{ item.obvod_prsa }}, </small>
                        <small class="text-muted">{{ item.obvod_hrudnik }}</small>
        
                      </div>
                      </div>
                      <span>{{product.price|intcomma}} Kč</span>
                    </li>
                    {% endwith  %}
                    {% endfor  %}
                   
                    {% if cart.coupon %}
                    <li class="list-group-item d-flex justify-content-between">
                      <span>  Celkem: </span>
                      {{ cart.get_total_price|intcomma }} Kč
        
                    
                    </li>
                    <li class="list-group-item d-flex justify-content-between bg-light">
                      <div class="text-success">
                        <h6 class="my-0">Slevový kupón </h6>
                        <small>"{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% sleva)</small>
                      </div>
                      <span class="text-success">-{{ cart.get_discount|intcomma }} Kč</span>
                    </li>
                  
                    <li class="list-group-item d-flex justify-content-between">
                      <span>  Celkem po slevě: </span>
                      <strong>{{ cart.get_total_price_after_discount|intcomma }} Kč</strong>
        
                    
                    </li>
        
                    {% else %}
                    <li class="list-group-item d-flex justify-content-between bg-light">
                     
           
                      <span>Total: </span>
                      <strong>{{ cart.get_total_price|intcomma}} Kč</strong>
        
                
                    </li>
                    {% endif %}
                  </ul>
        
                  
                
              <!-- 2cart -->

          </div>
          
    
      </div>
      
  </div>
  <!-- whole product-->

  

  <a href="{% url 'catalog:katalog_vse' %}"><button class="btn btn-dark my-2 mb-4">Do obchodu</button></a>


  </div>
</div>

<script>
  function decreaseCount() {
      var input = document.getElementById("inputQuantity");
      var value = parseInt(input.value);
      if (value > 1) {
          input.value = value - 1;
      }
  }

  function increaseCount() {
      var input = document.getElementById("inputQuantity");
      var value = parseInt(input.value);
      input.value = value + 1;
  }

</script>
<!-- End Body -->
{% endblock %}