{% extends 'catalog/base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}

{% block content %}
<script>
  setTimeout(function() {
      window.location.href = "{% url 'catalog:home' %}";  // Redirect to home page after 2 seconds
  }, 1500);
</script>
<style>
    .na_miru_container {
        max-width: 850px; /* Adjust the width as per your requirement */
        margin: 0 auto; /* Centers the content */
    }

    .centered-content {
        text-align: center; /* Centers the content horizontally */
    }
</style>
<div style="padding-bottom: 10%; padding-top: 5%;">
    <div class="container px-5 px-lg-5 mt-5 centered-content"> <!-- Added centered-content class here -->
        <h1> 
            Děkujeme za přihlášení k odběru newsletteru EFIR
        </h1>
        <br>
        <div class="na_miru_container">
            <p> 
            </p>
        </div>
        <br>
    </div>
</div>

{% endblock %}
