@media screen and (max-width: 600px) {
    .col {
        width: 100%;
   }
    .miniature {
        max-width: 40px;
        max-height: 50px;
        margin-right: 2px;
   }
}
@media screen and (min-width: 601px) {
    .col {
        width: 100px;
   }
    .miniature {
        max-width: 100px;
        max-height: 125px;
        margin-right: 10px;
   }
}
/* Styles for desktop */
@media (min-width: 768px) {
    .discount-circle {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: black;
        color: white;
        font-weight: normal;
        font-size: 16px;
        top: 10px;
        right: 10px;
   }
}
/* Styles for mobile */
@media (max-width: 767px) {
    .discount-circle {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: black;
        color: white;
        font-weight: normal;
        font-size: 10px;
        top: 10px;
        right: 10px;
   }
}
.product-image-container {
    position: relative;
}
#id_obvod_hrudnik, #id_obvod_prsa, #id_obvod_boky, #id_obvod_body, #id_quantity {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    font-size: 16px;
    height: 38px;
    width: 38px;
    text-align-last: center;
    border: 1px solid black;
}
select * { 
   /* Style the dropdown background color */
    background-color: transparent;
    border: 1px solid black;
   /* Other styles as needed */
}
option {
   /* Style the text color */
    color: black;
   /* Style the background color of selected option */
    background-color: white;
   /* Other styles as needed */
}
/* Adjust for mobile */
@media screen and (max-width: 600px) {
    #id_obvod_hrudnik, #id_obvod_prsa, #id_obvod_boky, #id_obvod_body, #id_quantity {
        width: 32px;
        height: 38px;
   }
}
.maximized {
    width: 300px;
    height: 450px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}
.slider {
    position: relative;
}
.slick-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 0;
   /* Hide the arrows initially */
    transition: opacity 0.3s ease-in-out;
   /* Add a smooth transition */
}
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
   /* Hide the arrows initially */
    transition: opacity 0.3s ease-in-out;
   /* Add a smooth transition */
}
.slider:hover .slick-prev, .slider:hover .slick-next {
    opacity: 1;
   /* Show the arrows on hover */
}
.slick-prev {
    left: 10px;
}
.slick-next {
    right: 10px;
}
/* Style for the horizontal line */
.horizontal-line {
    width: calc(85% - 15%);
   /* Width of the line */
    height: 1px;
   /* Height of the line */
    background-color: rgba(0, 0, 0, 0.3);
   ;
   /* Color of the line */
    margin: 20px 15% 20px auto;
   /* Adjust the margins */
}
table.table td, th, tr, thead {
    border-bottom-width: 0px;
   /* Remove bottom border from table rows */
}


.photo-container {
    position: relative;
    width: 100%;
    height: 450px; /* Default height for non-mobile devices */
    overflow: hidden; /* Hide any content that overflows the container */
}

/* Media query for mobile devices */
@media (max-width: 767px) {
    .photo-container {
        height: 450px; /* Adjusted height for mobile devices */
    }
}


.animated-photo-left {
    position: absolute;
    left: -100;
   /* Start from the left */
    top: 50%;
    transform: translate(0, -50%);
    animation: slide-in-left 2s ease-out forwards;
    object-fit: cover;
    object-position: center;
    height: 450px;
    margin-bottom: 20px; /* Add a margin of 20px at the bottom */

}
.animated-photo-right {
    position: absolute;
    right: 0;
   /* Start from the right */
    top: 50%;
    transform: translate(0, -50%);
    animation: slide-in-right 2s ease-out forwards;
    object-fit: cover;
    object-position: center;
    height: 450px;
    margin-bottom: 20px; /* Add a margin of 20px at the bottom */

}
@keyframes slide-in-left {
    0% {
        left: -100%;
       /* Move from the left */
   }
    100% {
        left: 0;
       /* Stop at 0 */
   }
}
@keyframes slide-in-right {
    0% {
        right: -100%;
       /* Move from the right */
   }
    100% {
        right: 0;
       /* Stop at 0 */
   }
}
/* Media query for mobile devices */
@media (max-width: 767px) {
    .photo-container {
        height: 450px;
       /* Adjusted height for mobile devices */
   }
    .animated-photo {
        height: 100%;
   }
}
@keyframes slide-in {
    0% {
        left: -100%;
   }
    100% {
        left: 0%;
   }
}
.col-vertical-line {
    border-right: 1px solid gainsboro;
   /* Add a border to the right of the cell */
    padding-right: 10px;
   /* Add some padding to separate the border from content */
}
input[type="number"] {
    color: black !important;
}
  
.about-row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }