{% extends 'catalog/base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% block content %}
<body data-new-gr-c-s-check-loaded="14.1107.0" data-gr-ext-installed="">


    <div class="container py-5">
  
        <!-- Shopping Cart Section -->
      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span>Váš nákupní košík</span>
            <span class="badge badge-secondary badge-pill">3</span>
          </h4>
        
          <ul class="list-group mb-3">
            {% for item in cart %}
            {% with product=item.product %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div class="d-flex align-items-center">
                {% with first_photo=product.photos.first %}
                {% if first_photo %}   
                <img src="{{ first_photo.photo.url }}" style="max-height: 70px; max-width: 27px; margin-right: 10px;">
                {% endif %}
                {% endwith %}
                <div>

                  {% if item.quantity == 1 %}
                <h6 class="my-0">{{ product.name }}       </h6>
                  {% else %}
                <h6 class="my-0">{{ item.quantity }}x   {{ product.name }}       </h6>
                  {% endif %}
                  {% if item.zpusob_vyroby == Skladem  %}
                  prd
                  {% else %}
                <small class="text-muted">{{ item.zpusob_vyroby }}:</small>

                <small class="text-muted">{{ item.obvod_prsa }}, </small>
                <small class="text-muted">{{ item.obvod_hrudnik }}</small>
                  {% endif %}
              </div>
              </div>
              <span>{{product.price|intcomma}} Kč</span>
            </li>
            {% endwith  %}
            {% endfor  %}
           <!-- start coupon -->



            {% if cart.coupon %}
            <li class="list-group-item d-flex justify-content-between">
              <span>  Celkem: </span>
              {{ cart.get_total_price|intcomma }} Kč

            
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Slevový kupón </h6>
                <small>"{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% sleva)</small>
              </div>
              <span class="text-success">-{{ cart.get_discount|intcomma }} Kč</span>
            </li>
          
            <li class="list-group-item d-flex justify-content-between">
              <span>  Celkem po slevě: </span>
              <strong>{{ cart.get_total_price_after_discount|intcomma }} Kč</strong>

            
            </li>
            <!-- end coupon -->
            {% else %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">

                <span>Doprava: </span> 
                <strong> {{ cart.get_shipping_price|intcomma }} Kč</strong>


            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
             
             <!-- #TODO total  to be calculated-->
              <span>Total: </span> 
              <strong>{{ cart.get_total_price|intcomma}} Kč</strong>

        
            </li>
            {% endif %}
          </ul>

          
        </div>
 <!-- End Shopping Cart Section-->
        <!-- Form Template -->
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Objednávka</h4>
          <div class="form-group">
          <form id="update-order-form" class="needs-validation" novalidate="" method="post" action="#">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Jméno    
                </label>
                {{ form.first_name }}
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">
                  Příjmení
                </label>
                {{ form.last_name }}
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
            </div>
            <div class="row">
            <div class="col-md-6 mb-3">
              <label for="email">E-mail</label>
              {{ form.email }}
                        <div class="invalid-feedback">
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="email">Telefonní číslo</label>
              {{ form.number }}
                      <div class="invalid-feedback">
              </div>
            </div>
            <div class="col-md-6 mb-3" id="countrySelected" onchange="updateOrderForm(this.value)"> <!--TODO this onchange is new-->
              <label for="email">Země</label>
              {{ form.country }} 
                      <div class="invalid-feedback">
              </div>
            </div>

            <div class="mb-3" id="id_shipping" name="shipping">
              <label for="shipping">Doprava</label>
               {{ form.shipping }}

              <div class="invalid-feedback"></div>
            </div>
            
            <script>
              function showPacketaButton() {
                var selectElement = document.querySelector('form select[name="shipping"]');
                var selectedValue = selectElement.value;



                if (selectedValue === "Z") {
                  var elementToShow = document.getElementById("packeta_button");
                  elementToShow.style.display = "block";
                } else {
                  var elementToHide = document.getElementById("packeta_button");
                  elementToHide.style.display = "none";
                }
              }
              
              var selectElement = document.getElementById("id_shipping");
              selectElement.addEventListener("change", showPacketaButton);
            
              showPacketaButton();


            </script>
            <div class="mb-3">
              <!-- Packeta script-->
  <script src="https://widget.packeta.com/v6/www/js/library.js"></script>

<!-- Add an element to display the selected country -->
<p id="selectedCountryDisplay"></p>

<!-- Your JavaScript code -->



    

  <script>
    const packetaApiKey = 'e2ac633a88eca5e2';

    const packetaOptions = {
        valueFormat: "name, street, city"
    };

    function showSelectedPickupPoint(point) {
        // Add here an action on pickup point selection
        const saveElement = document.querySelector(".packeta-selector-value");
        const addressInput = document.querySelector("#id_address"); // invokes the variable 
        const vendorIdInput = document.querySelector("#id_vendor_id"); // invokes the variable 

        saveElement.innerText = '';
        if (point) {
          console.log("Selected point", point);
          saveElement.innerText = "ID: " + point.id; // this is showing variable output, but we don't need it
          addressInput.value = point.formatedValue; //saves the value to the form    
          vendorIdInput.value = point.id;      
        };
    }

  </script>

   <button id="packeta_button" type="button" style="display: none;" class="btn btn-dark my-2 mb-4" onclick="Packeta.Widget.pick(packetaApiKey, showSelectedPickupPoint, packetaOptions)">Vyberte si místo vyzvednutí</button>    
   <div class="packeta-selector-value"></div> 
  
<!-- End Packeta Script-->
            </div>

            {{ form.vendor_id }}


            <div class="col-md-6 mb-3">
              <label for="email">Adresa</label>
              {{ form.address }}
                      <div class="invalid-feedback">
              </div>
              
          </div>
            <div class="mb-3">
              <label for="email">Komentáře</label>
              {{ form.comments }}
                        <div class="invalid-feedback">
              </div>
            </div>

            <section class="jumbotron text-center">
              <div class="container">


                <!-- BaCK BUTTON, would have to solve it using JS
                <a href="javascript:history.back()"><button class="btn btn-dark my-2 mb-4">Zpět</button></a>
                -->

  <!--          <button class="btn btn-dark my-2 mb-4" type="submit">Objednat</button> -->
              </div>


              <!-- Payment Instructions -->
              <form method="post" action="{% url 'stripepayment:process' %}">
                <!-- Include the necessary form fields -->
                {% csrf_token %}        
                <!-- Add other form fields here -->
                <button class="btn btn-dark my-2 mb-4" action="https://secure.payu.com/api/v2_1/orders" type="submit">Platit</button>
              </form>
            <!--end Payment Instructions -->

            
            </section>

          </form>
          </div>
          
        </div>
        
        </div>
      </div>
      <!-- Form ends-->
      
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script><div id="speechify-global-notifications"></div><div id="speechify-summarization-fullscreen-mode" style="position: fixed; inset: 0px; overflow: auto; background: white; z-index: 1999; display: none;"></div><div id="speechify-screenshot-mode" style="position: fixed; top: 0px; right: 0px; width: 100%; min-height: 100%; z-index: 2147483640; display: none;"></div><div id="speechify-shortcuts-prompt" style="position: fixed; bottom: 32px; left: 32px; z-index: 999999999;"></div>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  

<div id="^(,rZvUx1683491487730"></div><iframe name="" frameborder="0" id="fnlp-panel-iframe" style="display: none!important; position: fixed!important; top: 0px!important; right: -280px!important; z-index: 1000000000!important; width: 305px!important; height: 100vh!important; margin:0!important; border: 0px!important; outline: 0px!important;"></iframe></body>

{% endblock %}