{% extends 'catalog/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<!--Header -->

  <!-- About-->
  <header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
            
                <h1 class="display-5 fw-bolder">{% trans "🪡 Spodní prádlo na míru" %}</h1>
                <h2 class="text-white mx-auto mt-2 mb-5">{% trans "Exkluzivní design 🤍" %}</h2>
                            
            </div> 
        </div> 
    </div>
</header>




{% endblock %}