{% extends 'catalog/base.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block content %}
<!--Intro, Header Jumbotron --> 
<!-- link here: https://getbootstrap.com/docs/5.3/examples/jumbotron/ -->


<!-- Catalog of Products -->
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading mt-5 mb-5">{% if category %}{{category}} </h1>
        {% else %}
        <h1 class="jumbotron-heading mt-5 mb-5">Katalog
        {% endif %}</h1>
    </div>
  <div class="album py-2 bg-white">
    <div class="container justify-content-center align-items-center" style="min-height: 60vh;">
      {% if products %}
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3">

        
        {% for product in products %} 

        <!-- Single Product -->
        <div class="col-md-4 mb-4">
          <a href="{{ product.get_absolute_url }}">
            <div class="product-image-container">


          <div class="card mb-2 box-shadow">
            {% with first_photo=product.photos.first %}
            {% if first_photo %}
            <img class="card-img-top img-fluid" 
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" 
            alt="Thumbnail [100%x225]"
            src="{{ first_photo.photo.url }}"
            data-holder-rendered="true">
            {% endif %}
            {% if product.discount %}
            <div class="discount-circle"> - {{ product.discount }} % </div>
            {% elif product.new %}
            <div class="discount-circle"> NEW </div>
            {% elif product.limited %}
            <div class="discount-circle" style="font-size: 40%;"> LIMITOVANÁ EDICE </div>
            
            {% endif %}
          </div>
            {% endwith %}
            <div class="card-body d-flex flex-column" style="padding: 1rem;">
              <h5 class="fw-bolder"> {{ product.name }}</h5>
            
              <p class="card-text">{{ product.short_description }}</p>                
                <b class="fw-semibold"> {{ product.price }} Kč</b>
                

            </div>
          </div>
        </a>
        </div>
      
       

        
        {% endfor %}
        
      </div>

    {% else %}
    <p></p>
      <p class="text-center">
          Zde nejsou žádné produkty. Prohlédněte si celou nabídku.
      </p>
  </div>
  
    {% endif %}
  </div>
  </div>
  </section>

<!-- End Best Sellers -->


  <!--
  <header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
            
                <h1 class="display-5 fw-bolder">{% trans "🪡 Spodní prádlo na míru" %}</h1>
                <h2 class="text-white mx-auto mt-2 mb-5">{% trans "Exkluzivní design 🤍" %}</h2>
                            
            </div> 
        </div> 
    </div>
</header>
-->




{% endblock %}
