{% extends 'catalog/base.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block content %}
<!--Intro, Header Jumbotron --> 
<!-- link here: https://getbootstrap.com/docs/5.3/examples/jumbotron/ -->

{% with category_value=selected_category|default:"Vše" %}
<script>
  lhi('ViewCategory', {
    category: "{{ category_value }}"
  });
</script>
{% endwith %}


<style>
  .dropdown-item.active {
  background-color: #000; /* Set background color to black */
  color: #fff; /* Set text color to white */
}


    .thin-border {
        border: 1px solid black; /* Grey color */
    }

</style>



<!-- Catalog of Products -->
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading mt-5 mb-5">{% if category %}{{category}} </h1>
        {% else %}
        <h1 class="jumbotron-heading mt-5 mb-5">Katalog
        {% endif %}</h1>
    </div>

 <!-- start of other filter dropdowns as needed -->
<div class="filters">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
     $(document).ready(function() {
       // Event handler for changes in dropdowns
       $('.dropdown-item').click(function() {
         // Find the closest parent with class 'btn-group'
         var parentBtnGroup = $(this).closest('.btn-group');
     
         // Find the dropdown toggle within the 'btn-group'
         var dropdownToggle = parentBtnGroup.find('.dropdown-toggle');
     
         // Get the id attribute of the dropdown toggle
         var dropdownId = dropdownToggle.attr('id');
     
         // Set the value of the dropdown to the selected item's text
         $('#' + dropdownId).val($(this).text());
     
         // Submit the form with id 'save_filters'
         $('#save_filters').submit();
       });
     });
  </script>
  <style>
     #save_filters {
     display: inline-block; /*display: inline-block;: This style makes the form and button groups inline-block elements, allowing them to appear next to each other on the same line.*/
     white-space: nowrap; /* Prevent line breaks between elements white-space: nowrap;: This prevents line breaks between the form elements, ensuring that they stay on the same line.*/
     }
  </style>
     <div class="btn-group mt-2">
        <form action="{% url 'catalog:delete_all_filters' %}" method="post">
           {% csrf_token %}
           <button type="submit" class="btn btn-outline-dark flex-shrink-0 rounded-0">Smazat vše <i class="bi bi-dash-circle-fill"></i> </button>
        </form>
     </div>
    
     <form method="post" id="save_filters" action="{% url 'catalog:save_filters' %}">
           <button style="display: none;" type="submit">Apply Filter</button> 
           <!-- this is {{ sum_of }} invisible-->
           
        
        {% csrf_token %}
        <div class="btn-group mt-2">
           <button type="button" class="btn btn-outline-dark flex-shrink-0 rounded-0 dropdown-toggle thin-border" data-bs-toggle="dropdown" aria-expanded="false">Řadit</button>
           <ul class="dropdown-menu">
             
              {% for sort_by_price_value in filter_form.sort_by_price %}
              
              {% if sort_by_price_value == "created" %}
              
              {% else %}
              <li><a class="dropdown-item" id="sort_by_price"> {{ sort_by_price_value }}</a></li>
              {% endif %}
              {% endfor %}
           </ul>
        </div>
        <div class="btn-group mt-2">
           <button type="button" class="btn btn-outline-dark flex-shrink-0 rounded-0 dropdown-toggle thin-border" data-bs-toggle="dropdown" aria-expanded="false">Kategorie</button>
           <ul class="dropdown-menu">
             
              {% for category_value in filter_form.category_selection %}
              <li><a class="dropdown-item" id="category_value"> {{ category_value }}</a></li>
              {% endfor %}
           </ul>
        </div>
        <div class="btn-group mt-2">
           <button type="button" class="btn btn-outline-dark flex-shrink-0 rounded-0 dropdown-toggle thin-border" data-bs-toggle="dropdown" aria-expanded="false">Střih</button>
           <ul class="dropdown-menu">
              
              {% for cut_value in filter_form.cut_selection %}
              <li><a class="dropdown-item" id="cut_value"> {{ cut_value }}</a></li>
              {% endfor %}
           </ul>
        </div>
        <div class="btn-group mt-2">
           <button type="button" class="btn btn-outline-dark flex-shrink-0 rounded-0 dropdown-toggle thin-border" data-bs-toggle="dropdown" aria-expanded="false">Velikost</button>
           <ul class="dropdown-menu">
            
              {% for size_value in filter_form.size_selection %}
              <li><a class="dropdown-item" id="size_selection">{{ size_value }}</a></li>
              {% endfor %}
           </ul>
        </div>
     </form>
</div>
  <!-- start of other filter dropdowns as needed -->
<!-- labels start labels start -->
<div class="filters mb-5">
  <form action="{% url 'catalog:delete_selected_filter' %}" method="post">
      {% csrf_token %}

      <ul class="nav justify-content-center flex-sm-row">
          <!-- Sorting Label -->
          {% if selected_sorting == "-created" %}
          <li class="nav-item dropdown mt-2">
              <input type="hidden" name="selected_filter" value="Nejnovejsi">
          </li>
        {% elif selected_sorting and selected_sorting != "Nejnovejsi" %}
          <li class="nav-item dropdown mt-2">
              <input type="hidden" name="selected_filter" value="{{ selected_sorting }}">
              <button class="btn btn-light flex-shrink-0" id="selected_filter">
                  {{ selected_sorting }} <i class="bi bi-x"></i>
              </button>
          </li>
        {% endif %}
        
          
          <!-- Category Label -->
          {% if selected_category %}
              <li class="nav-item dropdown mt-2">
                  <input type="hidden" name="selected_filter" value="{{ selected_category }}">
                  <button class="btn btn-light flex-shrink-0 rounded-0"  id="selected_filter">
                      {{ selected_category }} <i class="bi bi-x"></i>
                  </button>
              </li>
          {% endif %}
          
          <!-- Cuts Label -->
          {% if selected_cuts %}
              <li class="nav-item dropdown mt-2">
                  <input type="hidden" name="selected_filter" value="{{ selected_cuts }}">
                  <button class="btn btn-light flex-shrink-0 rounded-0"  id="selected_filter">
                      {{ selected_cuts }} <i class="bi bi-x"></i>
                  </button>
              </li>
          {% endif %}
          
          <!-- Sizes Label -->
          {% if selected_sizes %}
              <li class="nav-item dropdown mt-2">
                  <input type="hidden" name="selected_filter" value="{{ selected_sizes }}">
                  <button class="btn btn-light flex-shrink-0 rounded-0" id="selected_filter">
                      {{ selected_sizes }} <i class="bi bi-x"></i>
                  </button>
              </li>
          {% endif %}
      </ul>
  </form>
</div>



  <div class="album py-2 bg-white">
    <div class="container justify-content-center align-items-center" style="min-height: 60vh;">
      {% if products %}
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3">

        
        {% for product in products %} 

        <!-- Single Product -->
        <div class="col-md-4 mb-4">
          <a href="{{ product.get_absolute_url }}">
            <div class="product-image-container">


          <div class="card mb-2 box-shadow">
            {% with first_photo=product.photos.first %}
            {% if first_photo %}
            <img class="card-img-top img-fluid" 
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" 
            alt="Thumbnail [100%x225]"
            src="{{ first_photo.photo.url }}"
            data-holder-rendered="true">
            {% endif %}


            {% if product.certificate.photo %}
            <img class="card-img-top img-fluid" 
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" 
            alt="{{ product.name }} certificate"
            src="{{ product.certificate.photo.url }}"
            data-holder-rendered="true">
           
            {% endif %}



            {% if product.discount %}
            <div class="discount-circle" style="background-color: #990000; font-size: 15px;"> -{{ product.discount }} % </div>

            {% elif product.new %}
            <div class="discount-circle"> NEW </div>
            {% elif product.limited %}
            <div class="discount-circle"> LIMITOVANÁ EDICE </div>
            {% elif product.skladem_na_miru %}
            <div class="discount-circle">SKLADEM<br>I&nbsp;NA MíRU </div>
            {% endif %}
          </div>
            {% endwith %}
            <div class="card-body d-flex flex-column" style="padding: 1rem;">
              <h5 class="fw-bolder"> {{ product.name }}</h5>
            
              <p class="card-text">{{ product.short_description }}</p>    
                          
            
             
                  {% if product.discount %}
                  <div><b class="fw-semibold"><del>{{ product.price }} Kč</del></div>
                    <div>{{ product.corrected_price }} Kč</div></b>
                  {% else %}
                  <b class="fw-semibold">{{ product.price }} Kč</b>
                  {% endif %}

                

            </div>
          </div>
        </a>
        </div>
      
       

        
        {% endfor %}
        
      </div>

    {% else %}
    <p></p>
      <p class="text-center">
          Zde nejsou žádné produkty. Prohlédněte si celou nabídku.
      </p>
  </div>
  
    {% endif %}
  </div>
  </div>
  </section>

<!-- End Best Sellers -->


  <!--
  <header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
            
                <h1 class="display-5 fw-bolder">{% trans "🪡 Spodní prádlo na míru" %}</h1>
                <h2 class="text-white mx-auto mt-2 mb-5">{% trans "Exkluzivní design 🤍" %}</h2>
                            
            </div> 
        </div> 
    </div>
</header>
-->




{% endblock %}
