{% extends 'catalog/base.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block content %}
<!--Intro, Header Jumbotron --> 
<!-- link here: https://getbootstrap.com/docs/5.3/examples/jumbotron/ -->


<!-- Intro Photos-->
<div class="container" style="min-height: 60vh;">
  <div class="row align-items-md-stretch">
    <div class="col-md-4 py-2 d-none d-md-block" style="height: 80vh; padding-right: 5px; padding-left: 10px;">
      <div class="h-100 bg-body-tertiary border" style="background-image: url('static/assets/img/intro_column_1.jpeg'); background-size: cover; background-position: center;"></div>
    </div>
    <div class="col-md-4 col-sm-12 py-2" style="height: 80vh; padding-right: 5px; padding-left: 5px;">
      <div class="h-100 bg-body-tertiary border" style="background-image: url('static/assets/img/intro_column_3.jpeg'); background-size: cover; background-position: center top; max-width: 100%;"></div>
    </div>
    <div class="col-md-4 py-2 d-none d-md-block" style="height: 80vh; padding-right: 10px; padding-left: 5px;">
      <div class="h-100 bg-body-tertiary border" style="background-image: url('static/assets/img/intro_column_2.jpeg'); background-size: cover; background-position: center;"></div>
    </div>
  </div>
</div>



 <!-- About section-->
 
 
<section id="o-nas" class="jumbotron text-center">
    <div class="container py-2">
      <h1 class="jumbotron-heading">O nás</h1>
    </div>
  <div class="album py-2 bg-white">
    <div class="container">
        <p class="lead" style="text-align: center;"> Efir The Brand je e-commerce, která se specializuje na luxusní spodní prádlo pro ženy. Naše značka se vyznačuje kvalitními materiály, precizním zpracováním a neokoukanými designy.
        
                Naše nejnovější kolekce se zaměřuje na kombinaci černé barvy s detaily ze zlatého materiálu, které dodají každému kousku z naší nabídky nádech elegance a luxusu. Například náš podvazkový pás s motivem orchideje na černé síťce vypadá nejenom nádherně, ale také je velmi pohodlný na nošení.
                
                V našem e-shopu si můžete vybrat prádlo podle vašich představ, ať už preferujete klasický střih nebo něco více výrazného. Naše spodní prádlo je navrženo tak, aby zdůrazňovalo krásu každé ženy a dodalo jí sebevědomí.
                
                Děkujeme vám za návštěvu naší stránky a těšíme se na to, že vás budeme moci oblékat do našich kvalitních a luxusních kousků.</p><br>
          
    
      </div>
  </div>
</section>

<!-- Best Sellers -->
<main role="main">

<!-- Catalog of Products -->
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Best Sellers</h1>
  </div>
<div class="album py-2 bg-white">
  <div class="container">

    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3">
      {% for bestseller in best_sellers %}        
      <!-- Single Product -->

      <div class="col-md-4 mb-4">
        <a href="{{ bestseller.get_absolute_url }}">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top img-fluid" 
          data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" 
          alt="Thumbnail [100%x225]"
          src="{{ bestseller.image1.url }}"
          data-holder-rendered="true">
          <div class="card-body d-flex flex-column" style="padding: 1rem;">
            <h5 class="fw-bolder"> {{ bestseller.name }}</h5>
            <p class="card-text">{{ bestseller.short_description }}</p>                
              <b class="fw-bolder"> {{ bestseller.price|intcomma }} Kč</b>
          </div>
        </div>
        </a>
      </div>
      {% endfor %}
      
    </div>
  </div>
</div>
</section>
  <!-- Catalog of Products -->
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Katalog</h1>
    </div>
  <div class="album py-2 bg-white">
    <div class="container">

      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3">
        {% for product in products %}        
        <!-- Single Product -->

        <div class="col-md-4 mb-4">
          <a href="{{ product.get_absolute_url }}">

          <div class="card mb-4 box-shadow">
             {% with first_photo=product.photos.first %}
               {% if first_photo %}             
            <img class="card-img-top img-fluid" 
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" 
            alt="Thumbnail [100%x225]"
            src="{{ first_photo.photo.url }}"
            data-holder-rendered="true">
            {% endif %}
            {% endwith %}
            <div class="card-body d-flex flex-column" style="padding: 1rem;">
              <h5 class="fw-bolder"> {{ product.name }}</h5>
              <p class="card-text">{{ product.short_description }}</p>                
                <b class="fw-bolder"> {{ product.price|intcomma }} Kč</b>
            </div>
          </div>
          </a>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </div>
</section>

  <section class="jumbotron text-center">
    <div class="container">
     
     
        <a href="{% url 'katalog' %}" class="btn btn-dark my-2">Katalog</a>
     
    </div>
  </section>


  <section id="doprava" class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Doprava</h1>
    </div>
 
    <div class="album py-2 bg-white">
      <div class="container">
          <p class="lead" style="text-align: center;">
                  Vítejte u naší e-commerce stránky, kde se specializujeme na prodej spodního prádla. Chceme Vám poskytnout nejen skvělý výběr luxusního prádla, ale také kvalitní a spolehlivou dopravu a doručení.
      
        Jak probíhá doprava?
        
        Když objednáte spodní prádlo u nás, začíná náš tým pracovat na Vaší objednávce okamžitě. Během 1-2 pracovních dnů je Vaše objednávka připravena k odeslání. Poté ji předáme doručovací společnosti, která zajistí doručení Vašeho balíčku.
        
        Jak dlouho to trvá?
        
        Běžně doručujeme balíčky v průměrném čase 2-3 pracovních dnů, ale doba doručení se může lišit v závislosti na vaší poloze a vytíženosti doručovacích společností. V případě, že Vaše objednávka bude odeslána během víkendu nebo svátků, může doručení trvat déle.
        
        Co je s cenou dopravy?
        
        Při nákupu nad určitou částku je doprava zdarma. V opačném případě se cena dopravy řídí dle zvoleného typu dopravy a hmotnosti Vaší objednávky. Náklady na dopravu jsou uvedeny při nákupu v košíku a jsou přesně spočítány dle Vašich specifikací.
        
        Jak zkontrolovat stav Vaší objednávky?
        
        Po odeslání Vaší objednávky dostanete e-mail s potvrzením objednávky a s odkazem na sledování Vaší zásilky. Můžete také sledovat stav Vaší objednávky na našich webových stránkách.
        
        Pokud máte jakékoliv otázky ohledně dopravy Vašeho spodního prádla, neváhejte nás kontaktovat. Jsme tu pro Vás a rádi Vám pomůžeme s jakýmkoliv dotazem.
                        </p><br>
                       
            
      
        </div>
    </div>
  </section>

 
  <section id="reklamace" class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Reklamace</h1>
    </div>
 
    <div class="album py-2 bg-white">
      <div class="container">
          <p class="lead" style="text-align: center;">
                  Vrácení produktů může být důležitým aspektem v každém e-commerce obchodě, včetně obchodů s dámským prádlem. V našem obchodě s dámským prádlem chápeme, že produkt, který obdržíte, se může neshodovat s vašimi očekáváními nebo vám nemusí sedět tak, jak jste si představovali. Proto nabízíme bezproblémovou politiku vrácení.

                  Pokud nejste s vaším nákupem spokojeni z jakéhokoli důvodu, můžete zboží vrátit do 30 dnů od data doručení. Přijímáme vrácení nenosených, nepoužitých a nepoškozených výrobků v jejich originálním obalu se všemi štítky a štítky připojenými.
                  
                  Chcete-li zahájit vrácení, jednoduše se přihlaste na svůj účet na našem webu, přejděte na stránku historie objednávek a vyberte položky, které chcete vrátit. Následujte pokyny k vytisknutí nálepky na dopravu a odešlete nám zboží. Jakmile zboží obdržíme, vrácení peněz zpracujeme do 10 pracovních dnů.
                  
                  Chceme, aby jste byli s vaším nákupem zcela spokojeni a snažíme se vrácení co nejvíce zjednodušit. Pokud máte jakékoliv dotazy nebo obavy ohledně naší politiky vrácení, neváhejte kontaktovat náš tým zákaznického servisu.
                        </p><br>
            
      
        </div>
    </div>
  </section>
</main>
<!-- End Best Sellers -->
{% endblock %}