{% extends 'catalog/base.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block content %}
<!--Intro, Header Jumbotron --> 
<!-- link here: https://getbootstrap.com/docs/5.3/examples/jumbotron/ -->


<!-- Intro Photos-->
<div class="container" style="min-height: 60vh;">
  <div class="row align-items-md-stretch">
    <div class="col-md-4 py-2 d-none d-md-block" style="height: 80vh; padding-right: 5px; padding-left: 10px;">
      <div class="h-100 bg-body-tertiary border" style="background-image: url('static/assets/img/intro_column_1.jpeg'); background-size: cover; background-position: center;"></div>
    </div>
    <div class="col-md-4 col-sm-12 py-2" style="height: 80vh; padding-right: 5px; padding-left: 5px;">
      <div class="h-100 bg-body-tertiary border" style="background-image: url('static/assets/img/intro_column_3.jpeg'); background-size: cover; background-position: center top; max-width: 100%;"></div>
    </div>
    <div class="col-md-4 py-2 d-none d-md-block" style="height: 80vh; padding-right: 10px; padding-left: 5px;">
      <div class="h-100 bg-body-tertiary border" style="background-image: url('static/assets/img/intro_column_2.jpeg'); background-size: cover; background-position: center;"></div>
    </div>
  </div>
</div>



 <!-- About section-->
 
<br>
<section id="o-nas" class="jumbotron text-center">
  
    <div class="horizontal-line mt-5 mb-5"></div>

  <div class="album bg-white">
    <div class="container">
        <p class="lead" style="text-align: center;"> Efir The Brand je e-commerce, která se specializuje na luxusní spodní prádlo pro ženy. Naše značka se vyznačuje kvalitními materiály, precizním zpracováním a neokoukanými designy.
        
                Naše nejnovější kolekce se zaměřuje na kombinaci černé barvy s detaily ze zlatého materiálu, které dodají každému kousku z naší nabídky nádech elegance a luxusu. Například náš podvazkový pás s motivem orchideje na černé síťce vypadá nejenom nádherně, ale také je velmi pohodlný na nošení.
                
                V našem e-shopu si můžete vybrat prádlo podle vašich představ, ať už preferujete klasický střih nebo něco více výrazného. Naše spodní prádlo je navrženo tak, aby zdůrazňovalo krásu každé ženy a dodalo jí sebevědomí.
                
                Děkujeme vám za návštěvu naší stránky a těšíme se na to, že vás budeme moci oblékat do našich kvalitních a luxusních kousků.</p>
      </div>
      <div class="horizontal-line mt-5 mb-5"></div>
      <br>

  </div>
</section>

<!-- Best Sellers -->
<main role="main">

<!-- Catalog of Products -->
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading mt-5 mb-5">Best Sellers</h1>
  </div>
<div class="album py-2 bg-white">
  <div class="container">

    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3">
      {% for bestseller in best_sellers %}        
    


      <!-- Single Product -->

      <div class="col-md-4 mb-4">
        <a href="{{ bestseller.get_absolute_url }}">
        <div class="card mb-2 box-shadow">
          
          <img class="card-img-top img-fluid" 
          src="{{ bestseller.photos.first.photo.url }}" 
          alt="{{ bestseller.name }}">
          {% if bestseller.discount %}
          <div class="discount-circle"> - {{ bestseller.discount }} % </div>
          {% elif bestseller.new %}
          <div class="discount-circle"> NEW </div>
          {% elif bestseller.limited %}
          <div class="discount-circle" style="font-size: 40%;"> LIMITOVANÁ EDICE </div>
          {% endif %}
   
          <div class="card-body d-flex flex-column" style="padding: 1rem;">
           <h5 class="fw-bolder">{{ bestseller.name }}</h5>
 <p class="card-text">{{ bestseller.short_description }}</p>                
           <b class="fw-semibold">  {{ bestseller.price|intcomma }} Kč</b>
          </div>
        </div>
        </a>
      </div>
      {% endfor %}
      
    </div>
  </div>
</div>
</section>
  <!-- Catalog of Products -->
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading mt-5 mb-5">Katalog</h1>
    </div>
  <div class="album py-2 bg-white">
    <div class="container">

      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3">
        {% for product in products %}        
        <!-- Single Product -->

        <div class="col-md-4 mb-4">
          <a href="{{ product.get_absolute_url }}">
            <div class="product-image-container">

          <div class="card mb-2 box-shadow">
             {% with first_photo=product.photos.first %}
               {% if first_photo %}             
            <img class="card-img-top img-fluid" 
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" 
            alt="Thumbnail [100%x225]"
            src="{{ first_photo.photo.url }}"
            data-holder-rendered="true">
            {% endif %}
            {% if product.discount %}
            <div class="discount-circle"> - {{ product.discount }} % </div>
            {% elif product.new %}
            <div class="discount-circle"> NEW </div>
            {% elif product.limited %}
            <div class="discount-circle" style="font-size: 40%;"> LIMITOVANÁ EDICE </div>
            {% endif %}


          </div>
            {% endwith %}
            <div class="card-body d-flex flex-column" style="padding: 1rem;">
              <h5 class="fw-bolder"> {{ product.name }}</h5>
              <p class="card-text">{{ product.short_description }}</p>                
                <b class="fw-semibold"> {{ product.price|intcomma }} Kč</b>
            </div>
          </div>
          </a>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </div>
</section>

  <section class="jumbotron text-center">
    <div class="container">
     
     
        <a href="{% url 'catalog:katalog_vse' %}" class="btn btn-outline-dark flex-shrink-0 rounded-0 mb-5">Katalog</a>
     
    </div>
  </section>


  <br>
  <br>
</main>
<!-- End Best Sellers -->
{% endblock %}