{% extends 'catalog/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<style>
  p {
      text-align: justify;
  }

  ol {
    padding-left: 3.5rem !important; /* Adjust the value to change the level of indentation */
  }
</style>

<!-- New Obchodni Pomdinky -->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 align-items-center">


    
    <h1 class="jumbotron-heading mt-5 mb-5">Obchodní podmínky </h1>
    <h2>I. Základní ustanovení</h2>
    <p>Tyto obchodní podmínky (dále jen "podmínky") jsou vydány v souladu s § 1751 odst. 1 zákona č. 89/2012 Sb., občanského zákoníku (dále jen "občanský zákoník").</p>
    
 
    <p>Jméno a příjmení: Ing. Valeriya Ageeva<br>
    IČ: 17092540<br>
    sídlo: Příčná 1892/4, 110 00, Praha 1 - Nové Město<br>
    email: objednavky@efirthebrand.cz<br>
    telefon: +420 774 363 883<br>
    webová stránka: <a href="https://efirthebrand.cz/">https://efirthebrand.cz/</a><br>
    (dále jen "prodávající")</p>


<ol>
  <li>Tyto obchodní podmínky upravují vzájemná práva a povinnosti prodávajícího a fyzické osoby, která uzavírá kupní smlouvu mimo svou podnikatelskou činnost jako spotřebitel, nebo v rámci své podnikatelské činnosti (dále jen: „kupující“) prostřednictvím webového rozhraní umístěného na webové stránce dostupné na internetové adrese https://efirthebrand.cz/ (dále jen „internetový obchod“).</li>
  <li>Ustanovení obchodních podmínek jsou nedílnou součástí kupní smlouvy. Odchylná ujednání v kupní smlouvě mají přednost před ustanoveními těchto obchodních podmínek.</li>
  <li> Kupní smlouva a tyto obchodní podmínky se uzavírají v českém jazyce.</li>
  
</ol>
<h2>II. Informace o zboží a cenách</h2>
<ol>
  <li>Informace o zboží, včetně uvedení cen jednotlivého zboží a jeho hlavních vlastností, jsou uvedeny u jednotlivého zboží v katalogu internetového obchodu. Ceny zboží jsou uvedeny včetně daně z přidané hodnoty, všech souvisejících poplatků a nákladů za vrácení zboží. Ceny zboží zůstávají v platnosti po dobu, po kterou jsou zobrazovány v internetovém obchodě. Toto ustanovení nevylučuje sjednání kupní smlouvy za individuálně sjednaných podmínek.</li>
  <li>Veškerá prezentace zboží umístěná v katalogu internetového obchodu je informativního charakteru a prodávající není povinen uzavřít kupní smlouvu ohledně tohoto zboží.</li>
  <li>V internetovém obchodě jsou zveřejněny informace o nákladech spojených s balením a dodáním zboží.</li>
  <li>Případné slevy z kupní ceny zboží nelze navzájem kombinovat, nedohodne-li se prodávající s kupujícím jinak.</li>  
</ol>
 
<h2>III. Objednávka a uzavření kupní smlouvy</h2>
<ol>
  <li>Náklady vzniklé kupujícímu při použití komunikačních prostředků na dálku v souvislosti s uzavřením kupní smlouvy (náklady na internetové připojení, náklady na telefonní hovory) hradí kupující sám. Tyto náklady se neliší od základní sazby.</li>
  <li>Kupující může objednávku vytvořit zboží těmito způsobem: vyplněním objednávkového formuláře bez nutné předchozí registrace.</li>
  <li>Při vytváření objednávky si kupující vybere požadované zboží, počet kusů, způsob platby a doručení.</li>
  <li>Před odesláním objednávky má kupující možnost kontrolovat a měnit údaje, které do objednávky již vložil. Objednávku kupující potvrdí  prodávajícímu kliknutím na tlačítko „potvrdit objednávku“. Údaje uvedené v objednávce jsou prodávajícím považovány za správné. Podmínkou platnosti objednávky je vyplnění všech povinných údajů v objednávkovém formuláři a potvrzení kupujícího o seznámení se s těmito obchodními podmínkami. Ke stvrzení slouží tlačítko „š“.</li>
  <li>Neprodleně po obdržení objednávky zašle prodávající kupujícímu potvrzení o obdržení objednávky na e-mailovou adresu, kterou kupující vyplnil jako kontaktní. Toto potvrzení je bráno jako uzavření smlouvy.</li>
  <li>V případě, že některý z uvedených požadavků v objednávce je pro prodávajícího nemožné splnit, zašle kupujícímu na jeho e-mailovou adresu aktualizovanou nabídku. Aktualizovaná nabídka se považuje za nový návrh kupní smlouvy a kupní smlouva je v takovém případě uzavřena potvrzením kupujícího o přijetí této nabídky, prodávajícímu na jeho e-mailovou adresu uvedenou v těchto obchodních podmínkách.</li>
  <li>Všechny objednávky přijaté prodávajícím jsou závazné. Kupující může zrušit objednávku, dokud není kupujícímu doručeno oznámení o přijetí objednávky. Kupující může zrušit objednávku telefonicky a to na telefonním čísle nebo písemně na e-mail prodávajícího, které jsou uvedeny v těchto obchodních podmínkách.</li>
  <li>V případě, že došlo ke zjevné technické chybě na straně prodávajícího při uvedení ceny zboží v internetovém obchodě nebo v průběhu objednávání, není prodávající povinen dodat kupujícímu zboží za tuto zcela zjevně chybnou cenu ani v případě, že kupujícímu bylo zasláno automatické potvrzení o obdržení objednávky dle těchto obchodních podmínek. Prodávající neprodleně po zjištění informuje kupujícího o chybě a zašle kupujícímu na jeho e-mailovou adresu aktualizovanou nabídku. Aktualizovaná nabídka se považuje za nový návrh kupní smlouvy a kupní smlouva je v takovém případě uzavřena až potvrzením o přijetí kupujícím na e-mailovou adresu prodávajícího.</li>  
</ol>
<h2>IV. Platební podmínky a dodání zboží</h2>
<ol>
  <li>Cenu zboží a případné náklady spojené s dodáním zboží dle kupní smlouvy může kupující uhradit následujícími způsoby:
    <ul>
      <li>bezhotovostně převodem na účet prodávajícího č. 2270534028/3030, vedený u společnosti AirBank a.s. (dále jen „účet prodávajícího“);</li>
      <li>bezhotovostně prostřednictvím platebního systému Stripe;</li>
    </ul>
  </li>
  <li>Společně s kupní cenou je kupující povinen uhradit prodávajícímu náklady spojené s dopravou a zabalením zboží ve smluvené výši. Není-li dále uvedeno výslovně jinak, kupní cenou se rozumí i náklady spojené s dodáním zboží.</li>
  <li>V případě platby prostřednictvím platební brány postupuje kupující podle pokynů příslušného poskytovatele elektronických plateb.</li>
  <li>V případě bezhotovostní platby je závazek kupujícího uhradit kupní cenu, splněn okamžikem připsání příslušné částky na bankovní účet prodávajícího.</li>
  <li>Prodávající nepožaduje od kupujícího zálohu či jinou obdobnou platbu.</li>
  <li>Případné slevy z ceny zboží poskytnuté prodávajícím kupujícímu nelze vzájemně kombinovat.</li>
  <li>Úhrada kupní ceny před odesláním zboží není zálohou.</li>
  <li>Zboží je kupujícímu dodáno:
    <ul>
      <li>na adresu určenou kupujícím v objednávce</li>
      <li>prostřednictvím výdejny zásilek na adresu výdejny, kterou kupující sám zvolil;</li>
    </ul>
  </li>
  <li>Volba způsobu dodání se provádí během objednávání zboží.</li>
  <li>Náklady na dodání zboží v závislosti na způsobu odeslání a převzetí zboží jsou uvedeny v objednávce kupujícího a v potvrzení objednávky prodávajícím. V případě, že je způsob dopravy smluven na základě zvláštního požadavku kupujícího, nese kupující riziko a případné dodatečné náklady spojené s tímto způsobem dopravy.</li>
  <li>Je-li prodávající podle kupní smlouvy povinen dodat zboží na místo určené kupujícím v objednávce, je kupující povinen převzít zboží při dodání. V případě, že je z důvodů na straně kupujícího nutno zboží doručovat opakovaně nebo jiným způsobem, než bylo uvedeno v objednávce, je kupující povinen uhradit tyto náklady spojené s opakovaným doručováním zboží, resp. náklady spojené s jiným způsobem doručení.</li>
  <li>Při převzetí zboží od přepravce je kupující povinen zkontrolovat neporušenost obalů zboží a v případě jakýchkoliv závad toto neprodleně oznámit přepravci. V případě shledání porušení obalu svědčícího o neoprávněném vniknutí do zásilky nemusí kupující zásilku od přepravce převzít.</li>
  <li>Prodávající vystaví kupujícímu daňový doklad (fakturu). Daňový doklad je odeslán na e-mailovou adresu kupujícího.</li>
  <li>Kupující nabývá vlastnické právo ke zboží zaplacením celé kupní ceny za zboží včetně nákladů na dodání, nejdříve však převzetím zboží.</li>
  <li>Odpovědnost za nahodilou zkázu, poškození či ztrátu zboží přechází na kupujícího okamžikem převzetí zboží nebo okamžikem, kdy měl kupující povinnost zboží převzít, ale v rozporu s kupní smlouvou tak neučinil.</li>
  
</ol>
<h2>V. Odstoupení od smlouvy</h2>
<ol>
  <li>Kupující, který uzavřel kupní smlouvu mimo svou podnikatelskou činnost jako spotřebitel, má právo od kupní smlouvy odstoupit.</li>
<li>Lhůta pro odstoupení od smlouvy činí 14 dnů:
  <ul>
    <li>ode dne převzetí zboží,</li>
    <li>ode dne převzetí poslední dodávky zboží, je-li předmětem smlouvy několik druhů zboží nebo dodání několika částí,</li>
    <li>ode dne převzetí první dodávky zboží, je-li předmětem smlouvy pravidelná opakovaná dodávka zboží.</li>
  </ul>
</li>
<li>Kupující nemůže mimo jiné odstoupit od kupní smlouvy:
  <ul>
    <li>o dodávce zboží, které bylo upraveno podle přání kupujícího nebo pro jeho osobu (platí pro objednávky šité na míru podle přání a požadávků zákazníka),</li>
    <li>v dalších případech uvedených v § 1837 občanského zákoníku.</li>
  </ul>
</li>
<li>Pro dodržení lhůty pro odstoupení od smlouvy musí kupující odeslat prohlášení o odstoupení ve lhůtě pro odstoupení od smlouvy (14 dnů).</li>
<li>Pro odstoupení od kupní smlouvy je vytvořen speciální formulář, který je poskytován na webových stránkách. Odstoupení od kupní smlouvy zašle kupující buď na e-mail, či spolu s vracejícím zbožím na doručovací adresu prodávajícího, jež je uvedena výše. Prodávající obratem potvrdí kupujícímu přijetí tohoto formuláře.</li>
<li>Kupující, který odstoupil od smlouvy, je povinen vrátit prodávajícímu zboží do 14 dnů od odstoupení od smlouvy. Kupující hradí náklady spojené s vrácením zboží prodávajícímu.</li>
<li>Odstoupí-li kupující od smlouvy, vrátí mu prodávající bezodkladně, nejpozději však do 14 dnů od odstoupení od smlouvy, všechny peněžní prostředky, bez nákladů na dodání, které od něho přija.. Prodávající vrátí kupujícímu přijaté peněžení prostředky jiným způsobem jen tehdy, pokud s tím kupující souhlasí a pokud mu tím nevzniknou další náklady.</li>
<li>Odstoupí-li kupující od kupní smlouvy, není prodávající povinen vrátit přijaté peněžní prostředky kupujícímu dříve, než mu kupující zboží předá nebo prokáže, že zboží prodávajícímu odeslal.</li>
<li>Zboží musí vrátit kupující prodávajícímu neopotřebené, nepoškozené, neznečištěné, v původním obalu. Zboží musí také obsahovat původní štítky a etikety. Nárok na náhradu škody vzniklé na zboží je prodávající oprávněn jednostranně započíst proti nároku kupujícího na vrácení kupní ceny.</li>
<li>Prodávající je oprávněn odstoupit

</ol>
<h2>VI.Práva z vadného plnění</h2>
<ol>
  <li>Prodávající odpovídá, že zboží při převzetí je v pořádku a nemá žádné vady. Zejména prodávající odpovídá kupujícímu, že v době, kdy kupující zboží převzal:
    <ul>
      <li>má zboží vlastnosti, které si strany ujednaly, a chybí-li ujednání, má takové vlastnosti, které prodávající nebo výrobce popsal nebo které kupující očekával s ohledem na povahu zboží a na základě reklamy jimi prováděné,</li>
      <li>se zboží hodí k účelu, který pro jeho použití prodávající uvádí nebo ke kterému se zboží tohoto druhu obvykle používá,</li>
      <li>je zboží v odpovídajícím množství, míře nebo hmotnosti a</li>
      <li>zboží vyhovuje požadavkům právních předpisů.</li>
    </ul>
  </li>
  <li>Je-li na prodávaném zboží, na jeho obalu, v návodu připojenému ke zboží nebo v reklamě v souladu s jinými právními předpisy uvedena doba, po kterou lze zboží použít, použijí se ustanovení o záruce za jakost. Zárukou za jakost se prodávající zavazuje, že zboží bude po určitou dobu způsobilé k použití pro obvyklý účel nebo že si zachová obvyklé vlastnosti. Vytkl-li kupující prodávajícímu vadu zboží oprávněně, neběží lhůta pro uplatnění práv z vadného plnění ani záruční doba po dobu, po kterou nemůže kupující vadné zboží užívat.</li>
  <li>Ustanovení uvedená v předchozím odstavci obchodních podmínek se nepoužijí u zboží prodávaného za nižší cenu na vadu, pro kterou byla nižší cena sjednána, na opotřebení zboží způsobené jeho obvyklým užíváním, u použitého zboží na vadu odpovídající míře používání nebo opotřebení, kterou zboží mělo při převzetí kupujícím, nebo vyplývá-li to z povahy zboží. Právo z vadného plnění kupujícímu nenáleží, pokud před převzetím zboží věděl, že zboží má vadu nebo pokud vadu sám kupující způsobil.</li>
  <li>V případě výskytu vady může kupující prodávajícímu předložit reklamaci a požadovat
    <ul>
      <li>výměnu za nové zboží,</li>
      <li>opravu zboží,</li>
      <li>přiměřenou slevu z kupní ceny,</li>
      <li>odstoupení od smlouvy.</li>
    </ul>
  </li>
  <li>Kupující má právo odstoupit od smlouvy,
    <ul>
      <li>pokud má zboží podstatnou vadu,</li>
      <li>pokud nemůže věc řádně užívat pro opakovaný výskyt vady nebo vad po opravě,</li>
      <li>při větším počtu vad zboží.</li>
    </ul>
  </li>
  <li>Podstatné je takové porušení smlouvy, o němž strana porušující smlouvu již při uzavření smlouvy věděla nebo musela vědět, že by druhá strana smlouvu neuzavřela, pokud by toto porušení předvídala.</li>
  <li>U vady, která znamená neopodstatněné porušení smlouvy (bez ohledu na to, jde-li o vadu odstranitelnou či neodstranitelnou), má kupující nárok na odstranění vady nebo přiměřenou slevu z kupní ceny.</li>
  <li>Vyskytla-li se odstranitelná vada po opravě opakovaně (obvykle třetí reklamace pro stejnou závadu nebo čtvrtá pro odlišné závady) nebo má zboží větší počet vad (zpravidla nejméně tři vady současně), má kupující právo uplatnit požadavek na slevu z kupní ceny, výměnu zboží nebo odstoupit od smlouvy.</li>
  <li>Při uplatnění reklamace je kupující povinen prodávajícímu sdělit, jaké právo si zvolil. Změna volby bez souhlasu prodávajícího je možná jen tehdy, žádal-li kupující opravu vady, která se ukáže být neodstranitelná. Nezvolí-li kupující si své právo z podstatného porušení smlouvy včas, má práva stejná jako při nep
  
</ol>
<h2>VII. Doručování</h2>
<ol>
  <li>Smluvní strany si mohou veškerou písemnou korespondenci vzájemně doručovat prostřednictvím elektronické pošty.</li>
  <li>Kupující doručuje prodávajícímu korespondenci na e-mailovou adresu uvedenou v těchto obchodních podmínkách.</li>
  <li>Prodávající doručuje kupujícímu korespondenci na e-mailovou adresu uvedenou v jeho objednávce.</li>
  
</ol>
<h2>VIII. Osobní údaje</h2>
<ol>
  <li>Všechny informace, které kupující při spolupráci s prodávajícím uvede, jsou důvěrné a bude s nimi tak zacházeno. Pokud kupující nedá prodávajícímu písemné svolení, údaje o kupujícím nebude prodávající jiným způsobem než za účelem plnění ze smlouvy používat, vyjma e-mailové adresy, na kterou mohou být zasílána obchodní sdělení, neboť tento postup umožňuje zákon, pokud není vysloveně odmítnut.</li>
  <li>Tato sdělení se mohou týkat pouze obdobného nebo souvisejícího zboží a lze je kdykoliv jednoduchým způsobem (zasláním dopisu, e-mailu nebo proklikem na odkaz v obchodním sdělení) odhlásit.</li>
  <li>E-mailová adresa bude za tímto účelem uchovávána po dobu 3 let od uzavření poslední smlouvy mezi smluvními stranami.</li>
  <li>Podrobnější informace o ochraně osobních údajů naleznete v Zásadách ochrany osobních údajů.</li>
  
</ol>
 
<h2>IX. Mimosoudní řešení sporů</h2>
<ol>
  <li>K mimosoudnímu řešení spotřebitelských sporů z kupní smlouvy je příslušná Česká obchodní inspekce se sídlem Štěpánská 567/15, 120 00 Praha 2, IČ: 000 20 869, internetová adresa: <a href="https://adr.coi.cz/cs">https://adr.coi.cz/cs</a>. Platformu pro řešení sporů on-line nacházející se na internetové adrese <a href="http://ec.europa.eu/consumers/odr">http://ec.europa.eu/consumers/odr</a> je možné využít při řešení sporů mezi prodávajícím a kupujícím z kupní smlouvy.</li>
  <li>Evropské spotřebitelské centrum Česká republika se sídlem Štěpánská 567/15, 120 00 Praha 2, internetová adresa: <a href="http://www.evropskyspotrebitel.cz">http://www.evropskyspotrebitel.cz</a> je kontaktním místem podle Nařízení Evropského parlamentu a Rady (EU) č. 524/2013 ze dne 21. května 2013 o řešení spotřebitelských sporů on-line a o změně nařízení (ES) č. 2006/2004 a směrnice 2009/22/ES (nařízení o řešení spotřebitelských sporů on-line).</li>
  <li>Prodávající je oprávněn k prodeji zboží na základě živnostenského oprávnění. Živnostenskou kontrolu provádí v rámci své působnosti příslušný živnostenský úřad. Česká obchodní inspekce vykonává ve vymezeném rozsahu mimo jiné dozor nad dodržováním zákona č. 634/1992 Sb., o ochraně spotřebitele.</li>
  
</ol>
<h2>X. Závěrečná ustanovení</h2>
<ol>
  <li>Veškerá ujednání mezi prodávajícím a kupujícím se řídí právním řádem České republiky. Pokud je ve vztahu založeném kupní smlouvou obsažen mezinárodní prvek, pak strany sjednávají, že vztah se řídí právem České republiky. Tímto nejsou dotčena práva spotřebitele vyplývající z obecně závazných právních předpisů.</li>
<li>Prodávající není ve vztahu ke kupujícímu vázán žádnými kodexy chování ve smyslu ustanovení § 1826 odst. 1 písm. e) občanského zákoníku.</li>
<li>Všechna práva k webovým stránkám prodávajícího, zejména autorská práva k obsahu, včetně rozvržení stránky, fotek, filmů, grafik, ochranných známek, loga a dalšího obsahu a prvků, náleží prodávajícímu. Je zakázáno kopírovat, upravovat nebo jinak používat webové stránky nebo jejich část bez souhlasu prodávajícího.</li>
<li>Prodávající nenese odpovědnost za chyby vzniklé v důsledku zásahů třetích osob do internetového obchodu nebo v důsledku jeho užití v rozporu s jeho určením. Kupující nesmí při využívání internetového obchodu používat postupy, které by mohly mít negativní vliv na jeho provoz a nesmí vykonávat žádnou činnost, která by mohla jemu nebo třetím osobám umožnit neoprávněně zasahovat či neoprávněně užít programové vybavení nebo další součásti tvořící internetový obchod a užívat internetový obchod nebo jeho části či softwarové vybavení takovým způsobem, který by byl v rozporu s jeho určením či účelem.</li>
<li>Kupující tímto přebírá na sebe nebezpečí změny okolností ve smyslu § 1765 odst. 2 občanského zákoníku.</li>
<li>Kupní smlouva včetně obchodních podmínek je archivována prodávajícím v elektronické podobě a není přístupná.</li>
<li>Znění obchodních podmínek může prodávající měnit či doplňovat. Tímto ustanovením nejsou dotčena práva a povinnosti vzniklé po dobu účinnosti předchozího znění obchodních podmínek.</li>
<li>Přílohou obchodních podmínek je vzorový formulář pro odstoupení od smlouvy.</li>

 
 
</ol>
<p>Tyto obchodní podmínky nabývají účinnosti dnem 1. 1. 2024.</p>

  </div>
</div>






<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src='{% static "/js/scripts.js" %}'></script>
</body>
</html>


{% endblock %}
