{% extends 'catalog/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<style>
    p {
        text-align: justify;
    }
</style>
     <!-- About section-->
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
             



                <section>
                    <h1>Ochrana osobních údajů e-shopu efirthebrand.cz</h1>
                    <p>Fyzická osoba Valeriya Ageeva se sídlem Příčná 1892/4, 110 00, Praha 1 - Nové Město, IČO: 17092540, (dále jen „prodávající“ nebo „správce“) zpracovává ve smyslu nařízení Evropského parlamentu a Rady (EU) č. 2016/679 o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů a o zrušení směrnice 95/46/ES (obecné nařízení o ochraně osobních údajů)(dále jen „Nařízení“), následující osobní údaje:</p>
                    <ul>
                        <li>jméno, příjmení</li>
                        <li>e-mailovou adresu</li>
                        <li>telefonní číslo</li>
                        <li>doručovací adresu</li>
                    </ul>
                </section>
            
                <section>
                    <h2>Zpracování osobních údajů</h2>
                    <p>Fyzická osoba Valeriya Ageeva, jako správce osobních údajů, zpracovává tyto údaje pro odbavení objednávek a další plnění ze smlouvy, pokud dojde k uzavření kupní smlouvy mezi vámi a prodávajícím. Takové zpracování osobních údajů je nezbytné pro splnění smlouvy (čl. 6 odst. 1 písm. b) Nařízení). Prodávající také zpracovává údaje za účelem evidence smlouvy a případného budoucího uplatnění a obranu práv a povinností smluvních stran. Uchování a zpracování osobních údajů je možné na základě čl. 6 odst. 1 písm. c) a f) Nařízení – zpracování je nezbytné pro splnění právní povinnosti a pro účely oprávněných zájmů správce. Údaje se uchovávají po dobu 10 let od realizace poslední části plnění dle smlouvy, pokud neexistuje jiný právní předpis na delší dobu uchování smluvní dokumentace.</p>
                </section>
            
                <section>
                    <h2>Obchodní sdělení</h2>
                    <p>Kupujícímu mohou být zasílány novinky a jiná obchodní sdělení na e-mailovou adresu nebo telefonní číslo. Tato možnost je v souladu s § 7 odst. 3 zákona č.480/2004 Sb., o službách informační společnosti. Kupující má právo odmítnout tato sdělení a kdykoliv se odhlásit, například zasláním e-mailu nebo kliknutím na odkaz v obchodním sdělení.</p>
                </section>
            
                <section>
                    <h2>Zpracování osobních údajů - Ostatní informace</h2>
                    <p>Zpracování osobních údajů provádí Valeriya Ageeva jako správce osobních údajů. Osobní údaje nejsou předávány do třetích zemí mimo EU. Správce nemá osobu tzv. pověřence, ale je možné kontaktovat správce na emailové adrese <a href="mailto:objednavky@efirthebrand.cz">objednavky@efirthebrand.cz</a>.</p>
                </section>
            
                <section>
                    <h2>Soubory cookies</h2>
                    <p>Správce osobních údajů, provozovatel webové stránky efirthebrand.cz, používá na této stránce soubory cookies za účelem:</p>
                    <ul>
                        <li>měření návštěvnosti webových stránek a vytváření statistik</li>
                        <li>zajištění základní funkčnosti webových stránek</li>
                    </ul>
                    <p>Sběr cookies může být považován za zpracování osobních údajů na základě oprávněného zájmu správce (čl. 6 odst. 1 písm. f) Nařízení). Webové stránky lze používat v režimu, který neumožňuje sbírání údajů o chování návštěvníků (lze nastavit v prohlížeči) nebo lze vznést námitku proti takovému sběru na základě oprávněného zájmu správce (čl. 21 Nařízení). Cookies nezbytné pro funkčnost webu budou uchovány pouze po dobu nezbytně nutnou pro fungování webu.</p>
                    <p>Vznese-li návštěvník námitku proti zpracování technických cookies nezbytných pro fungování webových stránek, nelze zaručit plnou funkčnost a kompatibilitu webových stránek.</p>
                    <p>Cookies, které jsou sbírány za účelem měření návštěvnosti webu, jsou posuzovány anonymně.</p>
                </section>
            
                <section>
                    <h2>Práva kupujícího</h2>
                    <p>Podle Nařízení máte právo:</p>
                    <ul>
                        <li>zrušit zasílání obchodních sdělení</li>
                        <li>vznést námitku proti zpracování na základě oprávněného zájmu správce</li>
                        <li>požadovat informace o zpracování vašich osobních údajů</li>
                        <li>získat přístup k údajům, aktualizovat je nebo je opravit</li>
                        <li>požadovat omezení zpracování</li>
                        <li>požadovat výmaz osobních údajů (pokud to nekoliduje s právními předpisy nebo oprávněnými zájmy správce)</li>
                        <li>přenositelnost údajů (pokud jde o automatizované zpracování)</li>
                        <li>získat kopii zpracovávaných osobních údajů</li>
                        <li>podat stížnost u Úřadu pro ochranu osobních údajů</li>
                    </ul>
                </section>
            
                <section>
                    <h2>Kontakty</h2>
                    <p>EFIR the brand<br>
                    Sídlo: Příčná 1892/4, 110 00, Praha 1 Nové Město<br>
                    IČO: 17092540</p>
                </section>
</div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src='{% static "/js/scripts.js" %}'></script>
</body>
</html>


{% endblock %}