{% extends 'catalog/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<style>
    p {
        text-align: justify;
    }
</style>
     <!-- About section-->
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
             



                <section>
                    <h1>Ochrana osobních údajů</h1>
    <p>Fyzická osoba Valeriya Ageeva, se sídlem Příčná 1892/4, 110 00, Praha 1 - Nové Město, IČO: 17092540, vystupující pod značkou EFIR the brand, dostupná také na internetové adrese: <a href="https://efirthebrand.cz/">https://efirthebrand.cz/</a>, (dále jen „prodávající“ nebo „správce“) zpracovává ve smyslu nařízení Evropského parlamentu a Rady (EU) č. 2016/679 o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů a o zrušení směrnice 95/46/ES (obecné nařízení o ochraně osobních údajů) (dále jen „Nařízení“) osobní údaje fyzických osob (tzv. subjektů údajů), které mají zájem o nákup v internetovém obchodě (potenciální zákazníci) nebo v internetovém obchodě nakupují, či již v minulosti nakoupili (zákazníci). Konkrétně se jedná o:</p>
    <ul>
        <li>jméno, příjmení</li>
        <li>e-mailovou adresu</li>
        <li>telefonní číslo</li>
        <li>doručovací adresu</li>
    </ul>
    <h2>I. Základní ustanovení</h2>
    <p>Správcem osobních údajů podle čl. 4 bod 7 nařízení Evropského parlamentu a Rady (EU) 2016/679 o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů (dále jen: „GDPR“) je Valeriya Ageeva, IČ 17092540 se sídlem Příčná 1892/4, 110 00, Praha 1 - Nové Město, zapsaná v živnostenském rejstříku vedeném u Živnostenského úřadu v Praze (dále jen: „správce“).</p>
    <p>Kontaktní údaje správce jsou následující:</p>
    <ul>
        <li>adresa sídla: Příčná 1892/4, 110 00, Praha 1 - Nové Město,</li>
        <li>e-mail: <a href="mailto:objednavky@efirthebrand.cz">objednavky@efirthebrand.cz</a></li>
        <li>telefonní číslo: +420 774 363 883</li>
    </ul>
    <p>Pojmem „osobní údaje” rozumíme veškeré informace o fyzické osobě, kterou lze přímo či nepřímo identifikovat, zejména odkazem na určitý identifikátor, například jméno, identifikační číslo, lokační údaje, síťový identifikátor nebo na jeden, či více zvláštních prvků fyzické, fyziologické, genetické, psychické, ekonomické, kulturní nebo společenské identity této fyzické osoby.</p>
    <p>Správce nejmenoval pověřence pro ochranu osobních údajů.</p>
    <h2>II. Zdroje a kategorie zpracovávaných osobních údajů</h2>
    <p>Správce zpracovává osobní údaje, které jsou zmíněny již na začátku dokumentu nebo osobní údaje, které správce získal na základě plnění Vaší objednávky. Konkrétně se jedná o:</p>
    <ul>
        <li>jméno a příjmení</li>
        <li>e-mailová adresa</li>
        <li>poštovní adresa</li>
        <li>telefon</li>
    </ul>
    <p>Správce se zavazuje ke zcela zakonnému a transparentnímu zpracování osobních údajů konkrétních osob.</p>
    <p>Správce též dbá na řádnou bezpečnost stanovenou v souladu s obecným nařízením o ochraně osobních údajů (dále jen „GDPR“) jakož dbá i na další právní předpisy v oblasti nakládání s osobními údaji a jejich ochrany.</p>
    <h2>III. Zákonný důvod a účel zpracování osobních údajů</h2>
    <p>Zákonné důvody pro zpracování osobních údajů jsou podmíněny následujícím:</p>
    <ul>
        <li>splnění právních povinností spojených s prodejem v souladu se zákonnými normami ČR,</li>
        <li>smluvní vztah mezi správcem a dotčenou osobou,</li>
        <li>ochrana oprávněných zájmů správce.</li>
    </ul>
    <p>Účelem zpracování osobních údajů je:</p>
    <ul>
        <li>splnění závazků z kupní smlouvy a plnění právních povinností, jakož i ochrana práv a nároků, které vyplývají ze smluvního vztahu mezi správcem a dotčenou osobou,</li>
        <li>komunikace se zákazníkem ohledně plnění objednávky,</li>
        <li>vyřízení reklamací a uplatnění práv ze záruky,</li>
        <li>marketingové účely, především pak pro zasílání obchodních sdělení a nabídek,</li>
        <li>naplnění smluvních a právních povinností správce,</li>
        <li>poskytování informací o výrobkách, službách nebo změnách u správce,</li>
        <li>sběr statistických dat za účelem zlepšení služeb.</li>
    </ul>
    <p>Osobní údaje se zpracovávají doba nezbytně nutná k plnění výše uvedených účelů. Správce zpracovává osobní údaje po dobu:</p>
    <ul>
        <li>plnění smluvních povinností,</li>
        <li>po dobu 5 let od posledního plnění smluvního vztahu,</li>
        <li>po dobu 5 let od poslední komunikace s Vaší osobou,</li>
        <li>po dobu 5 let od vyřízení Vaší objednávky,</li>
        <li>po dobu 5 let od uplatnění reklamace,</li>
        <li>po dobu 5 let od poslední návštěvy webových stránek,</li>
        <li>po dobu nezbytně nutnou k naplnění právních povinností,</li>
        <li>po dobu nezbytně nutnou k naplnění oprávněných zájmů správce.</li>
    </ul>
    <h2>IV. Příjemci osobních údajů</h2>
    <p>Příjemci osobních údajů jsou osoby oprávněné správce, tj. osoby provozující systém podpory informačních technologií a internetové stránky, provozovatelé marketingových nástrojů a systémů pro odesílání obchodních sdělení, účetní a daňoví poradci, provozovatelé platebních systémů, společnosti poskytující služby doručování objednávek a v případě oprávněného zájmu správce i jiné osoby (např. právník, soud apod.).</p>
    <h2>V. Přenos osobních údajů do třetích zemí (mimo EU)</h2>
    <p>Správce nepředává osobní údaje mimo Evropskou unii (EU).</p>
    <h2>VI. Vaše práva</h2>
    <p>Podle Nařízení máte právo:</p>
    <ul>
        <li>požadovat od správce přístup k Vašim osobním údajům,</li>
        <li>požadovat od správce opravu osobních údajů,</li>
        <li>požadovat od správce výmaz osobních údajů,</li>
        <li>požadovat od správce omezení zpracování osobních údajů,</li>
        <li>vznést námitku proti zpracování osobních údajů,</li>
        <li>na přenositelnost údajů,</li>
        <li>kdykoliv odvolat souhlas se zpracováním osobních údajů,</li>
        <li>podat stížnost u dozorového úřadu.</li>
    </ul>
    <p>V případě, že máte jakékoli dotazy ohledně zpracování Vašich osobních údajů, neváhejte nás kontaktovat na kontaktních údajích uvedených v těchto obchodních podmínkách.</p>
    <h2>VII. Bezpečnost osobních údajů</h2>
    <p>Správce prohlašuje, že přijal veškerá vhodná technická a organizační opatření k zajištění bezpečnosti osobních údajů.</p>
    <h2>VIII. Závěrečná ustanovení</h2>
    <p>Tato pravidla ochrany osobních údajů nabývají účinnosti dnem 1. 1. 2021.</p>
    <p>Správce si vyhrazuje právo tyto pravidla ochrany osobních údajů kdykoliv změnit. Nová verze pravidel ochrany osobních údajů bude vždy zveřejněna na webových stránkách tohoto internetového obchodu.</p>
    <p>Informace o osobních údajích je dostupná zákazníkům, a to kdykoliv přímo v jejich zákaznických účtech.</p>
                </section>
</div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src='{% static "/js/scripts.js" %}'></script>
</body>
</html>


{% endblock %}
