{% extends 'catalog/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

     <!-- About section-->
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
             
                  <h1>Ochrana osobních údajů e-shopu efirthebrand.cz</h1>
              
                  <p>1. Fyzická osoba Valeriya Ageeva se sídlem Příčná 1892/4, 110 00, Praha 1 - Nové Město, IČO: 17092540, (dále jen „prodávající“ nebo „správce“) zpracovává ve smyslu nařízení Evropského parlamentu a Rady (EU) č. 2016/679 o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů a o zrušení směrnice 95/46/ES (obecné nařízení o ochraně osobních údajů)(dále jen „Nařízení“), následující osobní údaje:</p>
              
                  <ul>
                      <li>jméno, příjmení</li>
                      <li>e-mailovou adresu</li>
                      <li>telefonní číslo</li>
                      <li>doručovací adresu</li>
                  </ul>
              
                  Ochrana osobních údajů e-shopu efirthebrand.cz

                  1. Fizycká osoba Valeriya Ageeva se sídlem Příčná 1892/4, 110 00, Praha 1 - Nové Město, IČO:
                  17092540, (dále jen „prodávající“ nebo „správce“) zpracovává ve smyslu nařízení Evropského
                  parlamentu a Rady (EU) č. 2016/679 o ochraně fyzických osob v souvislosti se zpracováním
                  osobních údajů a o volném pohybu těchto údajů a o zrušení směrnice 95/46/ES (obecné nařízení
                  o ochraně osobních údajů)(dále jen „Nařízení“), následující osobní údaje:
                  - jméno, příjmení
                  - e-mailovou adresu
                  - telefonní číslo
                  - doručovací adresu
                  2. Výše uvedené osobní údaje je nutné zpracovat pro odbavení objednávek a další plnění ze
                  smlouvy, pokud mezi vámi a prodávajícím dojde k uzavření kupní smlouvy. Takové zpracování
                  osobních údajů umožňuje čl. 6 odst. 1 písm. b) Nařízení – zpracování je nezbytné pro splnění
                  smlouvy.
                  Prodávající zpracovává tyto údaje rovněž za účelem evidence smlouvy a případného budoucího
                  uplatnění a obranu práv a povinností smluvních stran.
                  Uchování a zpracování osobních údajů je za výše uvedeným účelem po dobu 10 let od realizace
                  poslední části plnění dle smlouvy, nepožaduje-li jiný právní předpis uchování smluvní
                  dokumentace po dobu delší. Takové zpracování je možné na základě čl. 6 odst. 1 písm. c) a f)
                  Nařízení – zpracování je nezbytné pro splnění právní povinnosti a pro účely oprávněných zájmů
                  správce.
                  3. Na e-mailovou adresu, případně telefonní číslo mohou být kupujícímu zasílány novinky a jiná
                  obchodní sdělení, tento postup umožňuje § 7 odst. 3 zákona č.480/2004 Sb., o službách
                  informační společnosti, pokud jej kupující neodmítne. Tato sdělení lze kdykoliv jakýmkoliv
                  způsobem – například zasláním e-mailu nebo proklikem na odkaz v obchodním sdělení –
                  odhlásit.
                  4. Zpracování osobních údajů provádí Valeriya Ageeva tedy správcem osobních údajů. Osobní
                  údaje pro tohoto správce zpracovávají také zpracovatelé
                  Osobní údaje nebudou předány do třetích zemí mimo EU.
                  5. Správce nemá osobu tzv. pověřence. Správce lze kontaktovat na emailové adrese
                  objednávky@efirthebrand.cz
                  6. Správce osobních údajů, jakožto provozovatel webové stránky efirthebrand.cz užívá na této
                  webové stránce soubory cookies, které jsou zde užity za účelem:
                  
                   měření návštěvnosti webových stránek a vytváření statistik týkající se
                  návštěvnosti a chování návštěvníků na webových stránkách;
                  
                   Základní funkčnosti webových stránek.
                  - Sběr cookies za účelem uvedeným výše může být považováno za zpracování osobních
                  údajů. Takové zpracování je možné na základě zákonného důvodu - oprávněného zájmu
                  správce, a umožňuje ho čl. 6 odst. 1 písm. f) Nařízení.
                  - Webové stránky lze používat i v režimu, který neumožňuje sbírání údajů o chování
                  návštěvníků webu – tento režim je možný buďto nastavit v rámci nastavení prohlížeče,
                  nebo je možné vznést proti takovému sběru na základě oprávněného zájmu správce
                  námitku dle čl. 21 Nařízení. Vaše námitka bude vyhodnocena bezodkladně. Cookies
                  nezbytné pro funkčnost webu budou uchovány pouze po dobu nezbytně nutnou pro
                  fungování webu.
                  - Vznese-li návštěvník námitku proti zpracování technických cookies nezbytných pro
                  fungování webových stránek, nelze v takovém případě zaručit plnou funkčnost a
                  kompatibilitu webových stránek.
                  - Cookies, které jsou sbírány za účelem měření návštěvnosti webu a vytváření statistik
                  týkající se návštěvnosti a chování návštěvníků na webu, jsou posuzovány v podobě
                  hromadného celku a v anonymní podobě, která neumožňuje identifikaci jednotlivce.
                  
                  7. Vezměte, prosíme, na vědomí, že podle Nařízení máte právo:
                  - zrušit kdykoliv zasílání obchodních sdělení,
                  - vznést námitku proti zpracování na základě oprávněného zájmu správce,
                  - požadovat po nás informaci, jaké vaše osobní údaje zpracováváme,
                  - vyžádat si u nás přístup k těmto údajům a tyto nechat aktualizovat nebo opravit,
                  popřípadě požadovat omezení zpracování,
                  - požadovat po nás výmaz těchto osobních údajů, výmaz provedeme, pokud to nebude
                  v rozporu s platnými právními předpisy nebo oprávněnými zájmy správce,
                  - na přenositelnost údajů, pokud se jedná o automatizované zpracování na základě
                  souhlasu nebo z důvodu plnění smlouvy,
                  - požadovat kopii zpracovávaných osobních údajů,
                  - na účinnou soudní ochranu, pokud máte za to, že vaše práva podle Nařízení byla
                  porušena v důsledku zpracování vašich osobních údajů v rozporu s tímto Nařízením,
                  - podat stížnost u Úřadu pro ochranu osobních údajů.
</div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src='{% static "/js/scripts.js" %}'></script>
</body>
</html>


{% endblock %}