{% extends 'catalog/base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% block content %}
<!-- Large Product Detail -->

<section class="py-2">
   <div class="container my-2">
   <div class="row gx-4 gx-lg-5">
      <div class="col-md-6">
         <div class="slider">
            {% for photo in product.photos.all %}

            <div class="slide">
               <img class="card-img-top mb-md-0" src="{{photo.photo.url}}" alt="{{ product.name }}" />
            </div>
            {% endfor %}
         </div>
         
         

               <!-- Miniatures -->
            <div class="row mt-3">
               <div class="slide">

               {% for photo in product.photos.all %}
                        <img class="miniature" src="{{ photo.photo.url }}" alt="{{ product.name }} Photo">
            
               {% endfor %}
            </div>

            </div>
            
               <!--End of Miniatures -->

      </div>



        
            
      <div class="col-md-6">
         <div class="row mt-3">
            <div class="small mb-1"> Kategorie: {{ product.category }} </div>
            <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
            <div class="fs-5 mb-2">
               <p class="display-7 fw-bolder">{{ product.price|intcomma }} Kč</p>
            </div>
            <div style="color: #39571B; font-style: italic; border-radius: 0;">
               Ušijeme do 2 týdnů!
            </div>
            <p class="lead">{{ product.short_description|linebreaks }}</p>
          
            <!-- select size buttons -->
            <form id="add-to-cart-form" action="{% url 'cart:cart_add' product.id %}" method="post">
               <div id="zpusob_vyroby" class="row mb-3">
                  <label for="zpusob_vyroby"><b>Druh kolekce</b></label>
                  <div class="col">
                    <select id="zpusob_vyroby_selected" name="zpusob_vyroby" class="form-select flex-grow-1 me-3 rounded-0" style="border-color: black;" aria-label="Default select example">
                     <option value="vyberte" selected>---- Vyberte ----</option>

                     {% for zv in form.zpusob_vyroby %}
                     {{ zv }}
                     {% endfor %} 
                    </select>
                  </div>
                </div>
                
                
                <script>
                  function updateZpusobVyroby() {
                    var selectElement = document.getElementById("zpusob_vyroby_selected");
                    var selectedValue = selectElement.value;
                  
                    if (selectedValue === "" || selectedValue === "---- Vyberte ----") {
                      // Specific code for Konfekce
                      var elementToHide = document.getElementById("poznamka");
                      elementToHide.style.display = "none";
                      var elementToHide = document.getElementById("sizes");
                      elementToShow.style.display = "none";
                    } 
                    else if (selectedValue === "---- Vyberte ----") {
                      // Specific code for Konfekce
                      var elementToHide = document.getElementById("poznamka");
                      elementToHide.style.display = "none";
                      var elementToHide = document.getElementById("sizes");
                      elementToShow.style.display = "none";
                    }
                    else if (selectedValue === "Konfekce") {
                      // Specific code for Konfekce
                      var elementToHide = document.getElementById("poznamka");
                      elementToHide.style.display = "none";
                      var elementToShow = document.getElementById("sizes");
                      elementToShow.style.display = "block";
                    } else if (selectedValue === "Na Míru") {
                      // Specific code for Na Míru
                      var elementToShow = document.getElementById("poznamka");
                      elementToShow.style.display = "block";
                      var elementToHide = document.getElementById("sizes");
                      elementToHide.style.display = "none";
                    }
                  }
                  
                  // Add event listener to the select element
                  var selectElement = document.getElementById("zpusob_vyroby_selected");
                  selectElement.addEventListener("change", updateZpusobVyroby);
                  
                  // Call the updateZpusobVyroby() function initially to handle the default selected value
                  updateZpusobVyroby();
                  </script>
                     
                
<!-- Size Variables -->
<div id="sizes" style="display: none;">
         <div>
               {% if product.category.slug != "XXX" %}

               <b>Velikost pasu</b>
                  <!-- If Condtition starts here -->
               <div class="d-flex mb-3">
                  <div class="col-6">
                  <!-- Obvod hrudnik field -->
                  <select id="obvod_hrudnik_selection" value="0" name="obvod_hrudnik" class="form-select flex-grow-1 rounded-0" style="border-color: black" aria-label="Default select example">

                     {% for obvod_hrudnik in form.obvod_hrudnik %}
                     {{ obvod_hrudnik }}
                     {% endfor %}              
                  </select>
                  </div>
               </div>
            </div>
         

               <b>Obvod podprsenky</b>

               <div class="d-flex mb-3">
                  <div class="col-6">
                     <select id="obvod_prsa_selection" value="0" name="obvod_prsa" class="form-select flex-grow-1 rounded-0" style="border-color: black" aria-label="Default select example">

                        {% for obvod_prsa in form.obvod_prsa %}
                        {{ obvod_prsa }}
                        {% endfor %}                             
                     </select>
                  </div>
               </div>
               <b>Velikost kalhotek</b>

               <div class="d-flex mb-3">
                  <div class="col-6">
                     <!-- Obvod boky field -->
                     <select id="obvod_boky_selection" name="obvod_boky" class="form-select flex-grow-1 rounded-0" style="border-color: black" aria-label="Default select example">

                        {% for obvod_boky in form.obvod_boky %}
                        {{ obvod_boky }}
                        {% endfor %}              
                     </select>
                  </div>
               </div>
               <b>Velikost body</b>

               <div class="d-flex mb-3">
                  <div class="col-6">
                     <select id="obvod_body_selection" value="0" name="obvod_body" class="form-select flex-grow-1 rounded-0" style="border-color: black" aria-label="Default select example">

                        {% for obvod_body in form.obvod_body %}
                        {{ obvod_body }}
                        {% endfor %}                             
                     </select>
                  </div>
               </div>
            </div>
            <div id="poznamka" style="display: none;">
               <b>Poznámka</b>

               <div class="d-flex mb-3">
                  <div class="col-6">
                    {{ form.poznamka }}
                    <small class="form-text text-muted">Vyplňte tyto hodnoty:<br>
                     Obvod hrudníku<br>
                     Obvod pod hrudníkem<br> 
                     Obvod jednoho prsa<br>
                     Obvod pasu<br>
                     Obvod boku<br>
                  </small>
                  </div>
                </div>
               </div>
               
{% else %}
<style>
   .hidden-div {
     display: none;
   }
 </style>
<div class="hidden-div">
<div class="d-flex mb-3" >
   <div class="col-6">

   <!-- Obvod hrudnik field -->
   <select id="obvod_hrudnik_selection" value="0" name="obvod_hrudnik" class="form-select flex-grow-1 rounded-0" style="border-color: black" aria-label="Default select example">
      {% for obvod_hrudnik in form.obvod_hrudnik %}
      {{ obvod_hrudnik }}
      {% endfor %}              
   </select>
   </div>
</div>


<div class="d-flex mb-3">
   <div class="col-6">
      <select id="obvod_prsa_selection" value="0" name="obvod_prsa" class="form-select flex-grow-1 rounded-0" style="border-color: black" aria-label="Default select example">
         {% for obvod_prsa in form.obvod_prsa %}
         {{ obvod_prsa }}
         {% endfor %}                             
      </select>
   </div>
</div>

<div class="d-flex mb-3">
   <div class="col-6">
      <!-- Obvod boky field -->
      <select id="obvod_boky_selection" name="obvod_boky" class="form-select flex-grow-1 rounded-0" style="border-color: black" aria-label="Default select example">
        
         {% for obvod_boky in form.obvod_boky %}
         {{ obvod_boky }}
         {% endfor %}        
         
      </select>
   </div>
</div>




</div>
{% endif %}



               <!-- If Condition Ends here-->
               </div>
               <h2>
                  <a href="{{ katalog_vse.product.category.get_absolute_url }}"></a> <!--this is just a link, but the name is missing-->
               </h2>
               <div>
                  <div class="d-flex">
                     <div class="input-group">
                        <button class="btn btn-outline-dark rounded-0" type="button" onclick="decreaseCount()">
                        <i class="bi bi-dash"></i>
                        </button>
                        <!-- this jinja snippet has id_quantity id-->
                        {{ form.quantity}}
                        {{ form.override}}
                        <button class="btn btn-outline-dark rounded-0" type="button" onclick="increaseCount()">
                        <i class="bi bi-plus"></i>
                        </button>
                     </div>
                  </div>
                  <p></p>
                  <div>
                     <button class="btn btn-outline-dark flex-shrink-0 rounded-0" type="submit">
                     <i class="bi bi-cart-fill me-1"></i>
                     Do košíku
                     </button>
                     {% csrf_token %}        
            </form>
            </div>
            <div>
               <p class="lead">{{ product.long_description|linebreaks }}</p>
            </div>
            </div>
         </div>
      </div>
   </div>
</section>
<script> // JavaScript Code
   // update quantity code
   // using id_quantity
   var quantityInput = document.getElementById('id_quantity');
   
     quantityInput.addEventListener('change', function(){
   
     });
   
   // Increase Decrease Buttons
   function decreaseCount(){
     var input = document.getElementById('id_quantity')
     var value = parseInt(input.value);
     if (value > 1) {
       input.value = value - 1;
     }
   };
   
   function increaseCount(){
     var input = document.getElementById('id_quantity')
     var value = parseInt(input.value);
     input.value = value + 1;
   };

   
   $(document).ready(function() {
   $('.slider').slick({
      // Slick Carousel options and settings here
      prevArrow: '<button type="button" class="slick-prev"><i class="bi bi-arrow-left"></i></button>',
      nextArrow: '<button type="button" class="slick-next"><i class="bi bi-arrow-right"></i></button>'
   });
});

</script>

{% endblock %}